* text=auto

# Fuerza LF en código web y config
*.js   text eol=lf
*.ts   text eol=lf
*.css  text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.svg  text eol=lf
*.csv  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf

# Scripts Windows con CRLF
*.bat  text eol=crlf
*.cmd  text eol=crlf
*.ps1  text eol=crlf
